@model PlanetBook.Models.ViewModels.ProductVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "TẠO SẢN PHẨM";
}

<form method="post"enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text" style="color:red"></div>
        @if (Model.Product.Id != 0)
        {
            title = "CẬP NHẬT SẢN PHẨM";
            <input type="hidden" asp-for="Product.Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Title"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text" style="color:red"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.ISBN"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text" style="color:red"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Author"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text" style="color:red"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.ListPrice"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text" style="color:red"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text" style="color:red"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price50"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text" style="color:red"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price100"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text" style="color:red"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    Thể loại
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Product.CategoryId, Model.CategoryList,
                    "--Chọn thể loại--", new {@class = "form-control"})
                    <span asp-validation-for="Product.CategoryId" class="text" style="color:red"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    Loại bìa
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Product.CoverTypeId, Model.CoverTypeList,
                    "--Chọn loại bìa--", new {@class = "form-control"})
                    <span asp-validation-for="Product.CoverTypeId" class="text" style="color:red"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    Hình ảnh
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Product.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Product.Id" />
                    }
                   else
                   {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-info">Tạo</button>
                                <a asp-action="Index" class="btn btn-secondary">Trở về</a>
                            </div>
                        </div>
                   }
                </div>
            </div>
        </div>
        @if (Model.Product.Id != 0)
        {
            <div class="col-3 offset-1 pt-4">
                <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #1f789c" />
            </div>
        }
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/cw0e2jkdtrg1d31xy0t6flimdox9qz0788tim0asjy91qp2c/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });

        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal("Lỗi", "Vui lòng chọn hình ảnh!", "error");
                return false;
            }
            return true;
        };
    </script>
}

